@use '../abstracts/variables' as *;

button {
    cursor: pointer;
    font-size: var(--fs-300);
    color: $clr-neutral-100;
    background-color: $clr-accent;
    border: none;
    border-radius: 4px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    padding: 0.5rem 1.5rem;

}

#create-project {
    padding: 0.875rem 1.5rem;
}

#confirm-button {
    background-color: green;
}

#cancel-button {
    background-color: red;
}

