@model TicketViewModel

@{
    ViewData["Title"] = "Ticket Modal";
}

<main class="pop-up">
    <section class="ticket-modal-box">
        <h2>Novo Ticket</h2>

        <form asp-controller="Home" asp-action="CreateNewTicket" method="post">
            <input asp-for="ProjetoID" type="hidden">
            <input asp-for="TicketID" type="hidden">
            <div class="modal-description">
                <label for="descricao">Descrição</label>
                <textarea class="modal-description-box" asp-for="Descricao" name="descricao" id="descricao" rows="8"
                    placeholder="Descreva o problema..."></textarea>
            </div>
            <div class="ticket-modal-dropdown-group">
                <div class="severity-dropdown">
                    <label for="Grau">Grau</label>

                    <select asp-for="Grau" name="Grau" id="Grau">
                        <option value="Moderado">Moderado</option>
                        <option value="Serio">Sério</option>
                        <option value="Grave">Grave</option>
                    </select>
                </div>
                <div class="type-dropdown">
                    <label for="Tipo">Tipo</label>

                    <select asp-for="Tipo" name="Tipo" id="Tipo">
                        <option value="Funcional">Funcional</option>
                        <option value="Visual">Visual</option>
                    </select>
                </div>
            </div>
            <div class="ticket-modal-buttons">
                <button class="cancel-button" id="cancel-button">Cancelar</button>
                <button class="confirm-button" id="confirm-button" type="submit">Salvar</button>
            </div>
        </form>

    </section>
</main>
