@use '../abstracts/variables' as *;

header {
    position: fixed;
    min-height: 100%;
    width: 240px;
    padding: 20px 16px;
    background-color: $clr-primary;
    color: $clr-neutral-100;
}

.logo {
    cursor: pointer;
}

header span {
    color: $clr-accent;
}

.profile {
    padding: 28px 0;
}

nav {
    padding: 24px 0;
    display: grid;
    gap: 20px;
}

.list-item{
    display: flex;
    gap: 0.875rem;
    cursor: pointer;
}
